#include <physical_layouts.dtsi>

/ {
    physical_layout_s: physical_layout_0 {
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   60       0     0     0>
            , <&key_physical_attrs 100 100  100   25       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   13       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  950   25       0     0     0>
            , <&key_physical_attrs 100 100 1050   13       0     0     0>
            , <&key_physical_attrs 100 100 1150    0       0     0     0>
            , <&key_physical_attrs 100 100 1250   25       0     0     0>
            , <&key_physical_attrs 100 100 1350   60       0     0     0>
            , <&key_physical_attrs 100 100    0  160       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  113       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  950  125       0     0     0>
            , <&key_physical_attrs 100 100 1050  113       0     0     0>
            , <&key_physical_attrs 100 100 1150  100       0     0     0>
            , <&key_physical_attrs 100 100 1250  125       0     0     0>
            , <&key_physical_attrs 100 100 1350  160       0     0     0>
            , <&key_physical_attrs 100 100    0  260       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  213       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  240       0     0     0>
            , <&key_physical_attrs 100 100  850  240       0     0     0>
            , <&key_physical_attrs 100 100  950  225       0     0     0>
            , <&key_physical_attrs 100 100 1050  213       0     0     0>
            , <&key_physical_attrs 100 100 1150  200       0     0     0>
            , <&key_physical_attrs 100 100 1250  225       0     0     0>
            , <&key_physical_attrs 100 100 1350  260       0     0     0>
            , <&key_physical_attrs 100 100    0  360       0     0     0>
            , <&key_physical_attrs 100 100  100  325       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  315  350       0     0     0>
            , <&key_physical_attrs 100 100  420  350    1000   420   450>
            , <&key_physical_attrs 100 100  522  371    2000   525   470>
            , <&key_physical_attrs 100 100  828  371 (-2000)   925   470>
            , <&key_physical_attrs 100 100  930  350 (-1000)  1030   450>
            , <&key_physical_attrs 100 100 1035  350       0     0     0>
            , <&key_physical_attrs 100 100 1150  300       0     0     0>
            , <&key_physical_attrs 100 100 1250  325       0     0     0>
            , <&key_physical_attrs 100 100 1350  360       0     0     0>
            ;
    };
};