#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&scroll_processor {
    layer = 3;
    input-processors =
    <&zip_xy_to_scroll_mapper>,
    <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

&default_mouse_processor {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

&trackball_listener {
    input-processors = <&default_mouse_processor, &scroll_processor>;
};
